* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-inline: 20px;
  background-color: #e5e5e5;
}

#root {
  background-color: #0b2434;
  max-width: 360px;
  width: 100%;
  padding-inline: 20px;
  padding-block: 30px;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 55px 35px 65px 35px;
}

.dices-wrapper {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, 40px);
  justify-content: center;
  width: 100%;
  margin-block-start: 30px;
  margin-block-end: 30px;
}

.die {
  font-family: 'Karla', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.die-dot {
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}

.roll-btn {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Karla', sans-serif;
  padding-block: 10px;
  padding-inline: 32px;
  background-color: #5035ff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease;
}

.roll-btn:active {
  transform: scale(0.9);
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 25px;
  margin-bottom: 8px;
  color: #2b283a;
}

.text {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #4a4e74;
  text-align: center;
}

.rolls,
.time {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 10px;
}

.rolls {
  right: 10px;
}

.rolls-num,
.time-seconds,
.score-seconds {
  display: inline-block;
  background-color: #5035ff;
  color: #fff;
  padding: 3px 7px;
  border-radius: 4px;
}

.time {
  left: 10px;
}

.score {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
